.actions {
    color: white;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions__header {
    font-weight: 300;
    font-size: 1rem;
}

.actions__wrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.2rem;
}

@media screen and (min-width: 1024px) {
    .actions__header {
        font-size: 1.5rem;
    }

    .actions__wrapper {
        width: 100%;
        flex-direction: row;
        row-gap: 0;
        column-gap: 2.5rem;
    }
}