.attribution {
    color: white;
    font-size: 0.6rem;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.attribution__link {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

@media screen and (min-width: 1024px) {
    .attribution {
        font-size: 0.8rem;
        position: relative;
        left: 0;
        bottom: 0;
        transform: translate(0, 0);
    }
}