.home {
    background-color: var(--dark-blue-main);
    padding-inline: 1.8rem;
    padding-bottom: 4rem;
    position: relative;
}

.home__divider {
    width: 100%;
    height: 0.1rem;
    background-color: var(--soft-blue);
    margin-top: 3rem;
}

@media screen and (min-width: 1024px) {

    .home > *:not(:first-child) {
        padding-inline: 5rem;
    }

    .home > .home__divider {
        width: 88%;
        margin-inline: auto;
    }

}